#hello {
    border: 1px solid;
    height: 150px;
    background-color: red;
    margin-bottom: 10px;
}

#world {
    
    height: 150px;
    margin-bottom: 10px;
    display: flex;
}


#A1 {
    border: 1px solid;
    height: 150px;
    background-color: rgb(0, 234, 255);
    flex-basis: 50%;
    margin-right: 10px;
}

#A2 {
    border: 1px solid;
    height: 150px;
    background-color: rgb(0, 255, 119);
    flex-basis: 50%;
    margin-left: 10px;
}







#brother {
    border: 1px solid;
    height: 150px;
    background-color: blue;
    margin-bottom: 10px;
}