#hello{  border: 1px solid 
    ; height: 150px;
background-color: red; margin-bottom: 10px;
}
#world{ border: 1px solid 
; height: 150px;
background-color: rgb(48, 170, 170); margin-bottom: 10px;
}
#brother{border: 1px solid 
; height: 150px;
background-color: blue; margin-bottom: 10px;
}