#hello{  border: 1px solid 
        ; height: 150px;
    background-color: red;
}
#world{ border: 1px solid 
    ; height: 150px;
background-color: white;
}
#brother{border: 1px solid 
    ; height: 150px;
background-color: blue;
}